<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>
<%- include('partials/_header') %>
<body>
  <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= url.longURL %></h5>
      <table class="table" style="width: 25em; margin: 0 auto; text-align: left;">
          <tr>
            <td>Short URL:</td>
            <td><a href="/u/<%= shortURL %>" target="_blank"><%= shortURL %></a></td>
          </tr>
          <tr>
            <td>Date Created:</td>
            <td>
              <%= url.createdDateTime %>
            </td>
          </tr>
          <tr>
            <td>Visits:</td>
            <td><%= url.visits %></td>
          </tr>
        </table>
      </div>
    <div class="card-footer text-muted" style="text-align: initial;">
      <section style="margin: 1em auto; width: 25em">
      <h5>EDIT</h5>
      <form action="/urls/<%= shortURL %>" method="POST">
        <div class="form-group">
          <label for="longURL">New URL:</label>
          <input class="form-control" type="text" name="longURL" value="<%= url.longURL %>"> 
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <form method="POST" action="/urls/<%= shortURL %>/delete" style="text-align: right;">
        <button class="btn btn-danger">DELETE</button>
      </form>
    </section>
    </div>
  </div>
</body>
</html>